<ion-header>
  <ion-toolbar>
    <ion-title>Creating a poll</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-input [(ngModel)]="title" placeholder="Enter title" required=true></ion-input>
  </ion-item>
  <ion-item>
    <ion-card-subtitle>Enter deadline</ion-card-subtitle>
    <ion-datetime displayFormat="YYYY-MM-DD H:mm" [(ngModel)]="deadline"></ion-datetime>
  </ion-item>

  <ion-list *ngFor="let item of this.questionList">
    <ion-label>Question type: {{item.questionType}}</ion-label>
    <ion-item>
      <ion-textarea [(ngModel)]="item.questionText" placeholder="Enter question here..." required=true></ion-textarea>
      <ion-button (click)="removeQuestion(item)">Remove question</ion-button>
    </ion-item>
    
    <div *ngIf= "item.questionType == 'CHECKBOX'">
      <ion-list>
          <ion-item *ngFor="let entry of item.options">
            <ion-input [(ngModel)]="entry.answerText" placeholder="Enter the answer option" required=true></ion-input>
            <ion-button (click)="removeAnswer(item.options, entry)">Remove anwser</ion-button>
          </ion-item>
      </ion-list>
      <ion-button (click)="addAnswer(item, '')">Add an answer</ion-button>
    </div>

    <div *ngIf= "item.questionType == 'TIME'">
      <ion-list *ngFor="let entry of item.timeSlots">
          Date:
          <ion-item>
            <ion-datetime displayFormat="YYYY MM DD" placeholder="YYYY MM DD" [(ngModel)]="entry.slotDay"></ion-datetime>
          </ion-item>
          StartHour:
          <ion-item>
            <ion-datetime displayFormat="HH:mm" [(ngModel)]="entry.startHour"></ion-datetime>
          </ion-item>
          EndHour:
          <ion-item>
            <ion-datetime displayFormat="HH:mm" [(ngModel)]="entry.endHour"></ion-datetime>
          </ion-item>
          <ion-button (click)="removeAnswer(item.timeSlots, entry)">Remove slot</ion-button>
      </ion-list>
      <ion-button (click)="addTimeSlot(item)">Add slot</ion-button>
    </div>

  </ion-list>

  <ion-button (click)="addTextQuestion()">Add text question</ion-button>
  <ion-button (click)="addCheckboxQuestion()">Add checkbox question</ion-button>
  <ion-button (click)="addTimeQuestion()">Add Time Question</ion-button>
  <br>
  <ion-button (click)="this.validateAndSend()">Send a poll</ion-button>
  <br>
  <ion-button (click)="this.goToGroupPage()">Go to group page</ion-button>
</ion-content>

