<ion-header>
  <ion-toolbar>
    <ion-title>Creating a message</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-input [(ngModel)]="messageText" placeholder="Enter message" required=true></ion-input>
  </ion-item>
  <ion-item>
    <ion-card-subtitle>Enter deadline</ion-card-subtitle>
    <ion-datetime displayFormat="YYYY-MM-DD H:mm" [(ngModel)]="deadline"></ion-datetime>
  </ion-item>
  <br>
  <ion-button (click)="this.validateAndSend()">Send a Message</ion-button>
  <br>
  <ion-button (click)="this.goToGroupPage()">Go to group page</ion-button>
</ion-content>
