<ion-header no-border>
  <meta http-equiv="Cache-control" content="no-cache">
  <ion-toolbar no-border>
    
      <ion-title>
          Survey Time!
      </ion-title>

    <ion-buttons slot="end" >
      <ion-button (click)="goedit()">
          <ion-icon color="primary" name="more"  slot="icon-only"></ion-icon>

      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <div class="form">
  

      <ion-card-content *ngFor="let item of item">

        <h1 class="goodfont">Welcome back {{item.payload.doc.data().name}} {{item.payload.doc.data().surname}}!</h1>
        <h2 class="goodfont">Your nick {{item.payload.doc.data().username}}</h2>
      </ion-card-content>
  
    <br>
    <br>
    
  </div>

  <h1 class="goodfont">Managed Groups</h1>
  <ion-list (click)="onSelect(group)" *ngFor="let group of this.managedGroups">
    <ion-item>{{ group.groupName }}</ion-item>
  </ion-list>

  <h1 class="goodfont">You are member of</h1>
  <ion-list (click)="onSelect(group)" *ngFor="let group of this.memberGroups">
    <ion-item>{{ group.groupName }}</ion-item>
  </ion-list>

  <h1 class="goodfont">Unanswered messages</h1>
  <ion-list (click)="onMessage(message)"*ngFor="let message of this.unansweredMessages">
    <ion-item>{{ message.context }}</ion-item>
  </ion-list>

  <ion-button (click)="this.createGroup()">Create group</ion-button>
  <ion-button (click)="this.signOut()">Logout</ion-button>



  
  
  

</ion-content>