<ion-header no-border>
  <ion-toolbar no-border>
    
      <ion-title>
          Survey Time!
      </ion-title>
  <ion-buttons slot="start" >
      <ion-button [routerLink]="['/profile']" >
        <ion-icon color="primary" slot="icon-only" name="contact"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <div class="form">
  

      <ion-card-content *ngFor="let item of item">

        <h1 class="goodfont">Welcome back {{item.payload.doc.data().name}} {{item.payload.doc.data().surname}}!</h1>
      </ion-card-content>
  
    <br>
    <br>
    
   
  </div>

  <ion-list>
    <ion-item>aaa</ion-item>
    <ion-item>bbb</ion-item>
    <ion-item>{{this.id}}</ion-item>
  </ion-list>

  <ion-button (click)="this.createGroup()">Create group</ion-button>
  <ion-button (click)="this.signOut()">Logout</ion-button>



  
  
  

</ion-content>