<ion-header no-border>
  <ion-toolbar no-border>
    
      <ion-title>
          Survey Time!
      </ion-title>
  <ion-buttons slot="start" >
      <ion-button [routerLink]="['/profile']" >
        <ion-icon color="primary" slot="icon-only" name="contact"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <div class="form">
  

      <ion-card-content *ngFor="let item of item">

        <h1 class="goodfont">Welcome back {{item.payload.doc.data().name}} {{item.payload.doc.data().surname}}!</h1>
      </ion-card-content>
  
    <br>
    <br>
    
  </div>

  <h1 class="goodfont">Managed Groups</h1>
  <ion-list (click)="onSelect(group)" *ngFor="let group of this.managedGroups">
    <ion-item>{{ group.groupName }}</ion-item>
  </ion-list>

  <h1 class="goodfont">Your member of</h1>
  <ion-list *ngFor="let group of this.memberGroups">
    <ion-item>{{ group.groupName }}</ion-item>
  </ion-list>

  <h1 class="goodfont">Unanswered messages</h1>
  <ion-list (click)="onMessage(message)"*ngFor="let message of this.unansweredMessages">
    <ion-item>{{ message.context }}</ion-item>
  </ion-list>

  <ion-button (click)="this.createGroup()">Create group</ion-button>
  <ion-button (click)="this.signOut()">Logout</ion-button>



  
  
  

</ion-content>