<ion-header>
  <ion-toolbar>
    <ion-title>group-stats</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-label> Messages </ion-label><br>
  <ion-list *ngFor="let message of messages">
    <ion-item>{{message.context}} <br>
              Deadline: {{message.deadline}} <br>
              Confirmed: {{message.usersAnswered}} <br>
              Not confirmed: {{message.usersNotAnswered}}</ion-item>
  </ion-list>

  <ion-label> Polls </ion-label><br>
  <ion-list *ngFor="let poll of polls">
    <ion-item (click)="onPollSelect(poll.pollId)" > {{poll.pollName}}</ion-item>
  </ion-list>
  <br>
  <ion-button (click)="goToGroupPage()">Go to Group Page</ion-button>


</ion-content>
